.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height:400px;
  width:400px;
  border: soid;
  background-color:orange;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  
}

.form-field ,  .register-button{
  width:250px;
  height:30px;
  border-radius: 5px;
  margin: 10px;
}

.register-button {
  background-color: cornflowerblue;
}

.register-button:active {
  background-color: rgb(79, 118, 190);
}

.success-msg {
  font-weight: bold;
  color: rgb(85, 13, 149);
}

.error {
  color:red;
  margin-left: 10px;
}